.bg-transparent{
    background: rgba(241,241,241,0.5);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(241,241,241,0.25);
}
.gr{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}
.bg-main{
    background: var(--white); 
}
label{
    display: block;
    position: relative;
    transform: translateY(1px);
    transition: transform 300ms;
    color: var(--primary-color);
    width: 150px;
    padding-left: 10px;
}
input, textarea{
    border: 1px solid var(--primary-color);
    transition: all 0.1s ease-in-out;
}
input:focus, textarea:focus {
    box-shadow: 0px 0px 3px 3px rgba(0, 153, 255, 0.411);
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
    outline: none;
}
label:has(+ input:placeholder-shown){
    transform: translateY(35px);
    color: #000000a2;
}
input::placeholder{
    color: transparent;
}
textarea:focus::placeholder{
    color: white;
}
.self-container{
    width: 50%;
}
.service-card{
    width: 75%;
    display: flex;
    align-items:center;
    padding: 30px;
    gap: 4px;
}
.service-header{
    width: 50%;
    gap: 30px;
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.service-title{
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0;
}
.service-title > span{
    width: 50%;
}
.service-title > span:nth-child(2){
    text-align: end;
}
.service-list{
    width: 50%;
    margin: 0;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #FFFFFF40;
}
.contact-main{
    width: 100%;
    margin-top: 30px;
    padding-top: 20px;
}
.contact-section{
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 0 50px 0;
}
.inner-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.contact-person{
    width: 20%;
}
.about-main{
    display: flex;
    padding-top: 20px;
    margin: 0;
}
.upper-section{
    display: flex;
    align-items: center;
    padding: 20px;
}
.inner-lower{
    width: 60%;
}
.address{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 20px;
}
.loc-details{
    padding: 20px;
    width: 75%;
    margin: 0;
    display: flex;
    gap: 15px;
}
.loc-desc{
    width: 75%;
}
.details{
    display: flex;
}
.first{
    font-weight: bold;
}
.products-page{
    padding: 15px;
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
.con{
    width: 100%;
    padding: 0 25px;
}
.field-label{
    width: 50%;
}
.product-card{
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
}
.product-img{
    padding: 10px;
    height: 100%;
}
.item-details{
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pad-lt{
    padding-left: 10px;
}
.pad-rt{
    display: flex;
    gap: 10px;
    padding-right: 10px;
}
.table-header{
    display: flex;
}
.hidden-items{
    display: flex;
    justify-content: end;
    align-items: center;
}
.hidden-items-two{
    display: none
}
.cart-items{
    display: flex;
    align-items: center;
}
.cart-items-two{
    display: none
}
.item-details{
    display: flex;
}
.view-item{
    display: flex;
    align-items: start;
}
.item-image{
    width: 50%;
    padding: 15px;
    display: flex;
    justify-content: center;
}
.view-img{
    height: 350px;
}
.view-item-details{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: start;
    align-items: start;
}
.item-qty{
    display: flex;
    flex-direction: column; 
}
.user-profile{
    display: flex;
}
.user-image{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.user-fields{
    display: flex;
}
@media (max-width: 767px){
    .user-fields{
        flex-direction: column;
    }
    .user-profile{
        flex-direction: column;
        align-items: center;
    }
    .item-qty{
        align-items: end;
    }
    .view-item-details{
        width: 100%;
    }
    .view-item{
        flex-direction: column;
        align-items: center;
    }
    .view-img{
        height: 200px;
    }
    .item-details{
        flex-direction: column;
    }
    .cart-items{
        display: none;
    }
    .cart-items-two{
        display: flex;
        align-items: center;
    }
    .hidden-items{
        display: none;
    }
    .hidden-items-two{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .table-header{
        display: none;  
    }
    .item-details{
        gap: 10px;    
        justify-content: center;
        flex-direction: column;
    }
    .pad-lt{
        padding-left: 0px;
    }
    .pad-rt{
        padding-right: 0px;
    }
    .product-img{
        height: 55%;
    }
    .product-card{
        width: 100%;
        height: 350px;
    }
    .product-page{
        padding: 0;
    }
    .field-label{
        width: 70%;
    }
    .con{
        padding: 0px;
    }
    .details{
        flex-direction: column;
    }
    .second{
        display: none;
    }
    .loc-desc{
        width: 100%;
    }
    .loc-details{
        width: 100%;
        padding: 0;
        flex-direction: column;
    }
    .inner-lower{
        width: 90%;
    }
    .upper-section{
        flex-direction: column;
    }
    .contact-person{
        width: 60%;
    }
    .self-container{
        width: 100%;
    }
    .service-card{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items:center;
        padding: 10px;
        gap: 4px;
    }
    .service-header{
        width: 100%;
        gap: 10px;
        padding: 0 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .service-title{
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 10px;
        width: 100%;
        margin: 0;
    }
    .service-title > span{
        width: 100%;
    }
    .service-title > span:nth-child(2){
        text-align: start;
    }
    .service-list{
        width: 100%;
    }
}
.usr-prfl {
    opacity: 0;
    transition: opacity 0.5s ease-in-out; /* Adjust the duration and timing function as needed */
}
.usr-prfl.appear {
    opacity: 1;
}
