.bg-transparent{
    background: rgba(241,241,241,0.5);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(241,241,241,0.25);
}
.gr{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}
.bg-main{
    background: var(--white); 
}
label{
    display: block;
    position: relative;
    transform: translateY(1px);
    transition: transform 300ms;
    color: var(--primary-color);
    width: 150px;
    padding-left: 10px;
}
input, textarea{
    border: 1px solid var(--primary-color);
    transition: all 0.1s ease-in-out;
}
input:focus, textarea:focus {
    box-shadow: 0px 0px 3px 3px rgba(0, 153, 255, 0.411);
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
    outline: none;
}
label:has(+ input:placeholder-shown){
    transform: translateY(35px);
    color: #000000a2;
}
input::placeholder{
    color: transparent;
}
textarea:focus::placeholder{
    color: white;
}
.self-container{
    width: 50%;
}
.service-card{
    width: 75%;
    display: flex;
    align-items:center;
    padding: 30px;
    gap: 4px;
}
.service-header{
    width: 50%;
    gap: 30px;
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.service-title{
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0;
}
.service-title > span{
    width: 50%;
}
.service-title > span:nth-child(2){
    text-align: end;
}
.service-list{
    width: 50%;
    margin: 0;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #FFFFFF40;
}
@media (max-width: 767px){
    .self-container{
        width: 100%;
    }
    .service-card{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items:center;
        padding: 10px;
        gap: 4px;
    }
    .service-header{
        width: 100%;
        gap: 10px;
        padding: 0 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .service-title{
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 10px;
        width: 100%;
        margin: 0;
    }
    .service-title > span{
        width: 100%;
    }
    .service-title > span:nth-child(2){
        text-align: start;
    }
    .service-list{
        width: 100%;

    }
}